#article {
  background-image: url(img/images.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#showcase_text {
  width: 50%;
}
#logo {
  width: 250px;
}
.Sources {
  text-decoration: none;
  color: black;
}
#DNS_Server_img {
  width: 700px;
}